<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/fonts/fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/all.min.css">
  
</head>
<body>
    <div class="app__music">
      <div class="grid">
        <div class="grid__row">
              <div class="grid__column-3">
                <nav class="category">
                  <div class="category__heading">
                    <div class="category__heading-list">
                      <div class="category__heading-icon">
                        <i class="fa-solid fa-house"></i>
                      </div>
                      <div class="category__heading-title">Trang chủ</div>
                    </div>
                    <div class="category__heading-list">
                      <div class="category__heading-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </div>
                      <div class="category__heading-title">Tìm kiếm</div>
                    </div>
                    <div class="category__heading-list">
                      <div class="category__heading-icon">
                        <i class="fa-solid fa-radio"></i>
                      </div>
                      <div class="category__heading-title">Radio</div>
                    </div>
                  </div>

                  <div class="category__body">
                      <div class="category__body-heaading">
                          <div class="category__body-text">
                            <i class="fa-solid fa-bars-progress"></i> Thư viện
                          </div>
                          <div class="category__body-icon">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                      </div>

                      <div class="category__body-container">
                        <div class="category__body-container-text-1">
                          Tạo danh sách yêu thích của bạn
                        </div>
                        <div class="category__body-container-text-2">
                          Rất dễ! Chúng tôi sẽ giúp bạn
                        </div>
                        <div class="category__body-container-btn">
                          Tạo danh sách phát
                        </div>
                      </div>

                      <div class="category__body-footer">
                        <div class="category__body-footer-link">
                          Cookie
                        </div>
                        <div class="category__body-footer-btn">
                          <i class="fa-solid fa-globe"></i> Tiếng Việt
                        </div>
                      </div>
                  </div>
                </nav>
              </div>

              <div class="grid__column-9">
                <div class="music__container">
                  <div class="music__container-title">
                    <div class="music__container-title-list-icon">
                      <div class="music__container-title-icon">
                        <i class="fa-solid fa-chevron-left"></i>
                      </div>
                      <div class="music__container-title-icon">
                        <i class="fa-solid fa-chevron-right"></i>
                      </div>
                    </div>
                     
                    <div class="music__container-title-list-btn">
                      <a href="/crud" style="text-decoration: none;">
                        <div class="music__container-title-btn">Đăng ký</div>
                      </a>
                      <a class="music-login" href="/login" style="text-decoration: none;">
                        Đăng nhập
                      </a>    
                    </div>
                  </div>

                  <div class="music__container-body">
                    <div class="music__container-body-texts">
                      <div class="music__container-body-text">Danh sách phát</div>
                      <div class="music__container-body-text">Hiển thị tất cả</div>
                    </div>
                    
                    <div class="music__container-body-list-music">
                      <div class="grid__column-2-3 music__container-body-item-music">
                          <img src="https://i.scdn.co/image/ab67706f00000002d073e656e546e43bc387ad79" alt="" class="music__container-body-item-img">
                          <div class="music__container-body-item-description">
                            <div class="music__container-body-item-description1">Today's Top Hits</div>
                            <div class="music__container-body-item-description2">Billie Eilish is on top of the Hottest 50</div>
                          </div>
                      </div>
                      <div class="grid__column-2-3 music__container-body-item-music">
                        <img src="https://i.scdn.co/image/ab67706f00000002d6d48b11fd3b11da654c3519" class="music__container-body-item-img">
                        <div class="music__container-body-item-description">
                          <div class="music__container-body-item-description1">Deep Focus</div>
                          <div class="music__container-body-item-description2">Keep calm and focus with ambient and post-rock music</div>
                        </div>
                    </div>
                    <div class="grid__column-2-3 music__container-body-item-music">
                      <img src="https://i.scdn.co/image/ab67706f00000002fe24d7084be472288cd6ee6c" alt="" class="music__container-body-item-img">
                      <div class="music__container-body-item-description">
                        <div class="music__container-body-item-description1">Instrumental Study</div>
                        <div class="music__container-body-item-description2">Focus with soft study music in the background.</div>
                      </div>
                    </div>
                  <div class="grid__column-2-3 music__container-body-item-music">
                    <img src="https://i.scdn.co/image/ab67706f00000002b0fe40a6e1692822f5a9d8f1" alt="" class="music__container-body-item-img">
                    <div class="music__container-body-item-description">
                      <div class="music__container-body-item-description1">All Out 2010s</div>
                      <div class="music__container-body-item-description2">The biggest songs of the 2010s</div>
                    </div>
                  </div>
                  <div class="grid__column-2-3 music__container-body-item-music">
                    <img src="https://i.scdn.co/image/ab67706f00000002abc47d0e6b0ef634816633d6" alt="" class="music__container-body-item-img">
                    <div class="music__container-body-item-description">
                      <div class="music__container-body-item-description1">Today's Top Hits</div>
                      <div class="music__container-body-item-description2">Billie Eilish is on top of the Hottest 50</div>
                    </div>
                  </div>
                  <div class="grid__column-2-3 music__container-body-item-music">
                    <img src="https://i.scdn.co/image/ab67706f000000025addec7662cf3ec3d4519d76" alt="" class="music__container-body-item-img">
                    <div class="music__container-body-item-description">
                      <div class="music__container-body-item-description1">RapCaviar</div>
                      <div class="music__container-body-item-description2">New music from Lil Tjay, Quavo and JT of City Girls. </div>
                    </div>
                  </div>
                  <div class="grid__column-2-3 music__container-body-item-music">
                    <img src="https://i.scdn.co/image/ab67706f00000002724554ed6bed6f051d9b0bfc" alt="" class="music__container-body-item-img">
                    <div class="music__container-body-item-description">
                      <div class="music__container-body-item-description1">Focus Flow</div>
                      <div class="music__container-body-item-description2">Uptempo instrumental hip hop beats</div>
                    </div>
                  </div>
                  <div class="grid__column-2-3 music__container-body-item-music">
                    <img src="https://i.scdn.co/image/ab67706f0000000278b4745cb9ce8ffe32daaf7e" alt="" class="music__container-body-item-img">
                    <div class="music__container-body-item-description">
                      <div class="music__container-body-item-description1">Rock Classics</div>
                      <div class="music__container-body-item-description2">Rock legends & epic songs that continue to inspire generations</div>
                    </div>
                  </div>
                    </div>

                  </div>

                </div>
              </div>
        </div>
      </div>
    </div>
</body>
</html>