<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phản hồi đăng ký</title>
</head>
<body>
    <h1 style="color: red;">Bạn đã đăng ký tài khoản thành công. Vui lòng quay lại trang chủ để đăng nhập</h1>
    
    <a href="/home" style="text-decoration: none;
    width: 220px;
    display: block;
    background-color: #8d0572;
    padding: 20px;
    color: #fff;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;">
        Nhấn vào đây để về trang chủ
    </a>
</body>
</html>